@model ExchangeRatesViewModel

@if (Model != null && Model.USD != null)
{
   
        <div class="card bg-dark border-secondary border-opacity-25 shadow-sm rounded-4 px-4 py-2 text-center">
            <small class="text-white-50 fw-bold"><i class="bi bi-currency-dollar text-success me-1"></i>Dolar</small>
            <div class="fs-5 fw-bold text-light">@Model.USD.Price ₺</div>
            <small class="@(Model.USD.Change.Contains("-") ? "text-danger" : "text-success")" style="font-size:11px;">
                % @Model.USD.Change
            </small>
        </div>

        <div class="card bg-dark border-secondary border-opacity-25 shadow-sm rounded-4 px-4 py-2 text-center">
            <small class="text-white-50 fw-bold"><i class="bi bi-currency-euro me-1"></i>Euro</small>
            <div class="fs-5 fw-bold text-light">@Model.EUR.Price ₺</div>
            <small class="@(Model.EUR.Change.Contains("-") ? "text-danger" : "text-success")" style="font-size:11px;">
                % @Model.EUR.Change
            </small>
        </div>

        <div class="card bg-dark border-secondary border-opacity-25 shadow-sm rounded-4 px-4 py-2 text-center">
            <small class="text-white-50 fw-bold"><i class="bi bi-coin text-warning me-1"></i>Gram Altın</small>
            <div class="fs-5 fw-bold text-light">@Model.GA.Price ₺</div>
            <small class="@(Model.GA.Change.Contains("-") ? "text-danger" : "text-success")" style="font-size:11px;">
                % @Model.GA.Change
            </small>
        </div>

    
}