@using EntityLayer.Concrete
@model Description

@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="container mt-5 bg-dark text-light">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
          
            
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">@Model.DescriptionTitle</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Posted on @(((DateTime)Model.DescriptionCreateDate).ToString("dd-MMMM-yyyy")) by @Model.Writer.WriterName </div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">@Model.Category.CategoryName</a>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4">
                        <img class="img-fluid rounded w-100"
                             src="@Model.DescriptionImage"
                             alt="..."
                             style="height:400px; object-fit:cover;" />
                    </figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">@Model.DescriptionContent</p>
                    </section>
                </article>
            
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-dark text-light">
                    <div class="card-body">
                        <!-- Comment form-->                       
                        @await Html.PartialAsync("~/Views/Comment/AddComment.cshtml", new { id = ViewBag._id }) 
                        <!-- Comment with nested comments-->                     
                        @await Component.InvokeAsync("CommentListByPost",new {id = ViewBag._id })

                    </div>
                </div>
            </section>
        </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4 bg-black">
                        <div class="card-header text-warning">Bul</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Aranacak kelimeyi girin..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-warning" id="button-search" type="button">Git!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    @await Component.InvokeAsync("CategoryList") 
                    <!-- Side widget-->
                    @await Component.InvokeAsync("OtherPosts" , new { id = Model.WriterID})
                </div>
            </div>
</div>


